.btn {
  padding: 0.4rem 1rem;
  display: inline-block;
  background-color: green;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.backBtn {
  color: #fff;
  background-color: #3d3b3bfd;
  border: 1px solid #717070;
  cursor: pointer;
}

.tabComponent {
  background-color: #00000000;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #a9a7a7;
  cursor: pointer;
  width: 10rem;
  padding: 1rem 0;
}

.btn1 {
  margin-top: 1rem;
}

.position {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1px 10px #000;
  padding: 1rem;
  color: #d7d3d3;
  z-index: 9999;
}
