.container {
  height: 100%;
  width: 100%;
}

.main {
  display: flex;
  height: 100%;
  position: relative;
  /* background-color: red; */
}
.aside {
  width: 40%;
  background-color: #060606e4;
  /* background-color: red;*/
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.upperBtnContainer {
  background-color: #3d3b3bfd;
  border-radius: 5px;
  display: flex;
  gap: 1rem;
}

/* .tabComponent {
  background-color: #00000000;
  border: none;
  outline: none;
  text-transform: uppercase;
  color: #a9a7a7;
  cursor: pointer;
  width: 10rem;
  padding: 1rem 0;
} */

.aside :global(.active) {
  background-color: #0b0b0bfd;
  border-radius: 5px;
}

.aside footer {
  position: fixed;
  bottom: 3rem;
}
